@font-face {
  font-family: "BaskervilleCyr";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Roboto"), url("/fonts/BaskervilleCyrLTStd-Upright.woff2") format("woff2"), url("/fonts/BaskervilleCyrLTStd-Upright.woff") format("woff");
}
